<div class="www-layout">
  <section>
    <div class="gap no-gap signin whitish medium-opacity">
      <div class="bg-image"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div>
              <figure><%= image_tag("pngegg.png", alt: "Tinder logo") %></figure>
              <h1>Welcome to the Sun* Tinder</h1>
              <p>
                Sun* Tinder is a social network template that can be used to connect people.
                <br>
                Make a love from friends, don't make friend from loves
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="we-login-register">
              <div class="form-title">
                <i class="fa fa-key"></i>login
                <span><i class="fa fa-exclamation-circle" ></i> </span>
              </div>
              <form class="we-form">
                <input type="text" placeholder="Account Name" >
                <span class="text-black-50">
                  <i class="fa fa-exclamation-circle"></i><i></i>
                </span>
                <span class="text-black-50">
                  <i class="fa fa-exclamation-circle"></i><i></i>
                </span> <br>
                <input [type]="type" placeholder="Password">
                <p class="text-black-50">
                  <i class="fa fa-exclamation-circle"></i><i></i>
                </p>
                <input type="checkbox" ><label>remember me</label>
                <button type="submit" data-ripple="">Log In</button>
                <a class="forgot underline" title="">forgot password?</a>
              </form>
              <i class="fa fa-2x fa-facebook-square mr-1"></i>

              <i class="fa fa-2x fa-google-plus-square  ml-1"></i>

              <span>don't have an account? <a class="we-account underline" title="">register now</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
