<% provide(:title, t(".title")) %>
<% provide(:button_text, t(".btn")) %>
<div class="form-v10">
  <div class="page-content">
    <div class="form-v10-content">
      <%= render "form" %>
    </div>
  </div>
</div>
