// Place all the styles related to the MatchPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*,
*:before,
*:after {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.match {
  background: #fd3a73;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.match {
  opacity: 1;
}

.match--status {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 2;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.match--status i {
  font-size: 100px;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
}

.match_love .fa-heart {
  opacity: 0.7;
  transform: scale(1);
}

.match_nope .fa-remove {
  opacity: 0.7;
  transform: scale(1);
}

.match--cards {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  margin-bottom: 100px;
}

.match--card {
  display: inline-block;
  width: 90vw;
  max-width: 400px;
  height: 70vh;
  background: #ffffff;
  padding-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.match--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.match--card img {
  max-width: 100%;
  pointer-events: none;
}

.match--card h3 {
  margin-top: 32px;
  font-size: 32px;
  padding: 0 16px;
  pointer-events: none;
}

.match--card h4 {
  margin-top: 32px;
  font-size: 28px;
  padding: 0 16px;
  pointer-events: none;
}

.match--card p {
  margin-top: 24px;
  font-size: 20px;
  padding: 0 16px;
  pointer-events: none;
}

.match--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 10px;
}

.match--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #ffffff;
  display: inline-block;
  margin: 0 8px;
}

.match--buttons button:focus {
  outline: 0;
}

.match--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

.fa-heart {
  color: #fface4;
}

.fa-remove {
  color: #cdd6dd;
}
