@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Medium.ttf')) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-ThinItalic.ttf')) format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-ExtraLight.ttf')) format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font-path('montserrat/Montserrat-MediumItalic.ttf')) format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Bold.ttf')) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-ExtraLightItalic.ttf')) format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-BoldItalic.ttf')) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-SemiBold.ttf')) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Light.ttf')) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-ExtraBold.ttf')) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font-path('montserrat/Montserrat-ExtraBoldItalic.ttf')) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-SemiBoldItalic.ttf')) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Italic.ttf')) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Thin.ttf')) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Regular.ttf')) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-LightItalic.ttf')) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-Black.ttf')) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(font_path('montserrat/Montserrat-BlackItalic.ttf')) format('truetype');
    font-weight: 900;
    font-style: italic;
}
