<% if flash.present? %>
  <div id="flash">
    <script>
      <% if flash[:success] %>
        toastr.success("<%= flash[:success] %>")
      <% end %>
      <% if flash[:warning] %>
        toastr.warning("<%= flash[:warning] %>")
      <% end %>
      <% if flash[:danger] %>
        toastr.error("<%= flash[:danger] %>")
      <% end %>
    </script>
  </div>
<% end %>
